* {
  box-sizing: border-box;
  margin: 0;
  color: #cfdaf4;
  font-family: 'Nunito Variable', Arial, Helvitica, sans-serif;
  transform-style: preserve-3d;
}

body {
  background: #18181c;
  perspective: 1000px;
}
