---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';
---

<Layout>
  <div class="gameplay">
    <video autoplay muted loop>
      <source src="/gameplay.webm" type="video/webm" />
    </video>
    <div class="overlay">
      Souls of Tartarus is a game about Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <button>Purchase Souls of Tartarus</button>
    </div>
  </div> 
</Layout>
