---
import '../styles/Navbar.css';
import { Icon } from 'astro-icon/components';
---

<nav>
  <div class="title">
    <img src="/logo.png" class="logo" />
    Hellfire Studios
  </div>
  <div class="dropdowns">
    <div class="dropdown">
      Games
      <Icon name="ph:caret-down" />
    </div>
    <div class="dropdown">
      About Us
      <Icon name="ph:caret-down" />
    </div>
  </div>
</nav>
